


main {
    border: solid 1px black;
}

h1 {
    color: red;
    text-align: center;
}

.meal-details {
    border: solid 1px black;
    margin: auto;
    padding: 20px;
}

.customer-charge-section {
    border: solid 1px black;
    padding: 20px;
    margin: auto;
}

.earning-info-section {
    border: solid 1px black;
    padding: 20px;
    margin: auto;
} 


.reset-button {
    position: fixed;
    bottom: 20px;
}