* {
    box-sizing: border-box;
}


main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: red;
    text-align: center;
}

.meal-details {
    border: solid 1px black;
    margin: auto;
    padding: 20px;
    margin-bottom: 1em;
}

.customer-charge-section {
    border: solid 1px black;
    padding: 20px;
    margin: auto;
    margin-bottom: 1em;
}

.earning-info-section {
    border: solid 1px black;
    padding: 20px;
    margin: auto;
    margin-bottom: 1em;
} 

.reset-button {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

